@model ETFPay.Models.Transakcija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transakcija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Primaoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Primaoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posiljaoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posiljaoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iznos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeTransakcije)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeTransakcije)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
