@model ETFPay.Models.Kurs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kurs</h4>
    <hr />
    <dl class="row">
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valuta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valuta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IznosZaJedanUSD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IznosZaJedanUSD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrijemeAzuriranja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrijemeAzuriranja)
        </dd> *@
    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>
